name: 'langX'
scopeName: 'langX'
type: 'tree-sitter'
parser: 'tree-sitter-langx'

fileTypes: ['lx' ]
scopes:
  'declar_stmt > id_expr' : 'declar.identifier'


folds: [
  {
    type: 'comment'
  }
]

comments:
  start: '// '
